/* bellota-text-regular - latin */
@font-face {
  font-family: 'Bellota Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bellota-text-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('../fonts/bellota-text-v4-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/bellota-text-v4-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/bellota-text-v4-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/bellota-text-v4-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/bellota-text-v4-latin-regular.svg#BellotaText') format('svg'); /* Legacy iOS */
}

/* comfortaa-regular - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/comfortaa-v34-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('../fonts/comfortaa-v34-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/comfortaa-v34-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/comfortaa-v34-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/comfortaa-v34-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/comfortaa-v34-latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

/* neucha-regular - latin */
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/neucha-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/neucha-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/neucha-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/neucha-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/neucha-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/neucha-v12-latin-regular.svg#Neucha') format('svg'); /* Legacy iOS */
}

/* snippet-regular - latin */
@font-face {
  font-family: 'Snippet';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/snippet-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/snippet-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/snippet-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/snippet-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/snippet-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/snippet-v12-latin-regular.svg#Snippet') format('svg'); /* Legacy iOS */
}

/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inconsolata-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inconsolata-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inconsolata-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inconsolata-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inconsolata-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inconsolata-v21-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* ubuntu-mono-regular - latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-mono-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/ubuntu-mono-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-mono-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-mono-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-mono-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-mono-v10-latin-regular.svg#UbuntuMono') format('svg'); /* Legacy iOS */
}