.switcher {
  display: block;
  cursor: pointer;
  height: 16px;
  width: 80px;
  border-radius: 50px;
  background: #e7e7e7;
  transition: 1s ease-out;
}

.switcher:nth-of-type(1) {
  margin-top: 2px;
}
.switcher:nth-of-type(2) {
  margin-top: 6px;
}

.switcher.disabled {
  opacity: 0;
  cursor: default;
}

.switcher.typo {
  width: 60px;
}

#switcher_theme2,
#switcher_typo2 {
  position: absolute;
  margin-top: -2px;
  height: 20px;
  width: 20px;
  background: #dadada;
  border: 2px solid #5c5151;
  border-radius: 50%;
  border-radius: 16px;
  z-index: 1;
  animation: off 1s ease-out;
  transform-origin: 0 0;
  transition: 1s cubic-bezier(0, 0, 0.03, 0.99);
  animation: on 5s ease-out;
  transform-origin: 100% 0;
}


#switcher_theme2.theme1,
#switcher_typo2.typo1 {
  transform: translateX(0px);
  background: #f4f1de;
}
#switcher_theme2.theme2,
#switcher_typo2.typo2 {
  transform: translateX(15px);
  background: #e07a5f;
}
#switcher_theme2.theme3,
#switcher_typo2.typo3 {
  transform: translateX(30px);
  background: #3d405b;
}
#switcher_theme2.theme4,
#switcher_typo2.typo4 {
  transform: translateX(45px);
  background: #81b29a;
}
#switcher_theme2.theme5,
#switcher_typo2.typo5 {
  transform: translateX(60px);
  background: #f2cc8f;
}

#switcher_theme2.theme1 {
  background: #f4f1de;
}
#switcher_theme2.theme2 {
  background: #e07a5f;
}
#switcher_theme2.theme3 {
  background: #3d405b;
}
#switcher_theme2.theme4 {
  background: #81b29a;
}
#switcher_theme2.theme5 {
  background: #f2cc8f;
}

#switcher_typo2.typo1 {
  background: #463f3a;
}
#switcher_typo2.typo2 {
  background: #8a817c;
}
#switcher_typo2.typo3 {
  background: #bcb8b1;
}
#switcher_typo2.typo4 {
  background: #f4f3ee;
}
#switcher_typo2.typo5 {
  background: #e0afa0;
}
