---
import { Markdown } from 'astro/components'
import Main from '../layouts/Main.astro'
import Header from '../components/Header.astro'

const allPosts = await Astro.fetchContent('./*.md')
console.log(allPosts)
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Main content={{ title: 'kuworking' }}>
  <Header />

  <Markdown>
    [test](./test)
    [resources](./resources)
  </Markdown>

  <div>
  </div>
</Main>
