---
import { Cookies } from '../components/js/Cookies.jsx'

const { content } = Astro.props
---

<html lang={content.lang || 'en'} class="theme1 typo1">
  <head>
    <title>__</title>
    <link rel="sitemap" href="/sitemap.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charSet="utf-8" />
    <meta name="robots" content="index, follow" />
  </head>

  <body>
    <div class="Block">
      <slot />
    </div>
    <Cookies client:visible />
  </body>
</html>

<style>
  .Block {
    max-width: 800px;
    transition: max-width 0.2s ease;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 10px 5px 10px; /* the 5px is needed, kind of bug for margin of other elements */
  }
</style>
