---
const { content } = Astro.props
---

<html lang={content.lang || 'en'} class="theme1 typo1">
  <head>
    <title>__</title>
    <link rel="sitemap" href="/sitemap.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charSet="utf-8" />
    <meta name="robots" content="index, follow" />
  </head>

  <body>
      <slot />
  </body>
</html>
